version: '3.8'

services:
  localstack:
    image: localstack/localstack:latest
    container_name: attendance-kit-localstack
    ports:
      - "4566:4566"
    environment:
      - SERVICES=dynamodb
      - DEBUG=0
      - DATA_DIR=/tmp/localstack/data
      - LAMBDA_EXECUTOR=local
    volumes:
      - "./localstack-data:/tmp/localstack"
    networks:
      - localstack-network

networks:
  localstack-network:
    driver: bridge
