services:
  localstack:
    image: localstack/localstack:latest
    container_name: attendance-kit-localstack
    ports:
      - "4566:4566"
    environment:
      - DEBUG=0
      - LAMBDA_EXECUTOR=local
    networks:
      - localstack-network

networks:
  localstack-network:
    driver: bridge
